{% extends "base.html" %}
{% set active_page = "Profile" %}
{% block header %}
    Change Password
{% endblock header %}
{% from "_macros/forms.html" import render_form, render_field, field_errors, render_image_field_for_preview %}
{% block content %}
    <div class="row change-password">
        {% set div_class = "form-floating has-validation d-flex flex-column align-items-start gx-1" %}
        <form action="{{ url_for("profile.change_password") }}" method="post">
            {% call render_form(form) %}
                {{ render_field(form.old_password, div_class=div_class) }}
                {{ render_field(form.password, div_class=div_class) }}
                {{ render_field(form.password2, div_class=div_class) }}
                {{ render_field(form.submit, align="left") }}
            {% endcall %}
        </form>
    </div>
{% endblock content %}
