{% extends "base.html" %}
{% set active_page = "Profile" %}
{% block header %}
    Edit Profile
{% endblock header %}
{% from "_macros/forms.html" import render_form, render_field, field_errors, render_image_field_for_preview %}
{% block content %}
    {% set div_class = "form-floating has-validation d-flex flex-column align-items-start gx-1" %}
    <div class="row edit-profile">
        <form action="" method="post">
            {% call render_form(form) %}
                {{ render_field(form.username, div_class=div_class) }}
                {{ render_field(form.about_me, div_class=div_class) }}
                {{ render_field(form.submit, align="left") }}
            {% endcall %}
        </form>
    </div>
{% endblock content %}
