{% from "_macros/navigations.html" import render_pagination %}
{% extends "base.html" %}
{% block header %}
    Explore
{% endblock header %}
{% from "_macros/misc.html" import show_empty, show_tags %}
{% from "_macros/forms.html" import render_field %}
{% block content %}
    <div class="row">
        {% if decks.total > 0 %}
            <div class="row mt-3 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
                {% for deck in decks %}
                    <div class="col-md deck-item mb-2 border-0">
                        <div class="card overflow-hidden position-relative">
                            <div class="card-body px-3">
                                <h4 class="card-title">
                                    {{ deck.Deck.name|truncate(30, True) }}
                                </h4>
                                <div class="row pb-2">
                                    <div class="col">
                                        {{ show_tags(deck.Deck.tags) }}
                                    </div>
                                </div>
                                <p class="mb-1">
                                    <img class="profile-image my-auto" src="{{ deck.User.avatar(16) }}" />
                                    <a class="link-underline link-underline-opacity-0 my-auto"
                                       href="{{ url_for("profile.user", username=deck.User.username) }}">
                                        {{ deck.User.username }}
                                    </a>
                                </p>
                            </div>
                            <div class="btn-group w-100 px-3 pb-3 m-auto" role="group">
                                {% set view_deck_url = url_for("deckview.view_choosen_deck", deck_id=deck.Deck.id) %}
                                {% if current_user.id != deck.Deck.creator_id %}
                                    {% set view_deck_url = url_for("explore.view_deck", deck_id=deck.Deck.id) %}
                                {% endif %}
                                <a type="button" class="btn btn-light" href="{{ view_deck_url }}">
                                    View
                                </a>
                                {% if current_user.id != deck.Deck.creator_id %}
                                    <button type="button"
                                            class="btn btn-primary border-0"
                                            data-bs-toggle="modal"
                                            data-bs-target="#clone-deck-modal"
                                            data-deck_id="{{ deck.Deck.id }}"
                                            data-deck_name="{{ deck.Deck.name }}">
                                        Clone
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row mt-3">
                {{ render_pagination(decks, "explore.explore") }}
            </div>
        {% else %}
            <p>
                Empty
            </p>
        {% endif %}
        {% include "_partials/clone_deck_modal.html" %}
    </div>
{% endblock content %}
{% block script %}
    <script>
        getEl("#clone-deck-modal").addEventListener("show.bs.modal", (e) => {
            let ds = e.relatedTarget.dataset;

            let deck_id = ds.deck_id;
            let deck_name = ds.deck_name;

            getEl("#clone-deck-modal .modal-body h4").innerHTML = deck_name;
            getEl("#clone-deck-modal .modal-footer #deck_id").value =  deck_id;

        });
    </script>
{% endblock script %}
