{% extends "base.html" %}
{% set active_page = "Home" %}
{% block header %}
    Home
{% endblock header %}
{% from "_macros/misc.html" import show_tags, card_progress_badge %}
{% block content %}
    <div class="col">
        <div class="row">
            <div class="col">
                <h3>
                    Decks
                </h3>
            </div>
            <div class="col-auto">
                <button type="button"
                        class="btn btn-primary fw-bold"
                        data-bs-toggle="modal"
                        data-bs-target="#create-deck-overlay">
                    <i class="bi bi-plus"></i>
                    Create Deck
                </button>
            </div>
        </div>
        <div class="row mt-3 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
            {% for deck in decks %}
                <div class="col-md deck-item mb-2 border-0">
                    <div class="card overflow-hidden position-relative">
                        <button type="button"
                                class="btn btn-light position-absolute top-0 end-0 mt-2 me-2 delete-deck"
                                data-deck_id="{{ deck.Deck.id }}"
                                data-deck_name="{{ deck.Deck.name }}"
                                data-bs-toggle="modal"
                                data-bs-target="#delete-deck-modal">
                            <i class="bi bi-trash"></i>
                        </button>
                        <div class="card-body px-3">
                            <h5 class="card-title pb-2">
                                {{ deck.Deck.name|truncate(30, True) }}
                            </h5>
                            <div class="row m-auto">
                                {{ card_progress_badge(title="New", value=deck.new, type="info") }}
                                {{ card_progress_badge(title="Learn", value=deck.learning, type="danger") }}
                                {{ card_progress_badge(title="Due", value=deck.due, type="success") }}
                            </div>
                            <!-- TODO 1 row for tags -->
                        </div>
                        <div class="btn-group w-100 px-3 pb-3 m-auto" role="group">
                            <a type="button"
                               class="btn btn-light"
                               href="{{ url_for("deckview.view_choosen_deck", deck_id=deck.Deck.id) }}">
                                View
                            </a>
                            <button type="button"
                                    class="btn btn-light"
                                    data-deck_id="{{ deck.Deck.id }}"
                                    data-bs-toggle="modal"
                                    data-bs-target="#add-card-overlay">
                                Add Card
                            </button>
                            <button type="button"
                                    class="btn btn-light"
                                    onclick="get_cards('{{ url_for("home.get_cards") }}', {{ deck.Deck.id }}, '{{ deck.Deck.name }}')"
                                    data-bs-toggle="modal"
                                    data-bs-target="#study-deck-overlay">
                                Study
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% include "_partials/create_deck_modal.html" %}
    {% include "_partials/add_card_modal.html" %}
    {% include "_partials/study_deck_modal.html" %}
    {% include "_partials/delete_deck_modal.html" %}
{% endblock content %}
{% block script %}
    {% from "_macros/forms.html" import form_submit_listener %}
    {{ form_submit_listener("create-deck-overlay") }}
    {{ form_submit_listener("add-card-overlay") }}
    <script>
        getEl("#delete-deck-modal").addEventListener("show.bs.modal", (e) => {
            let ds = e.relatedTarget.dataset;

            let deck_id = ds.deck_id;
            let deck_name = ds.deck_name;

            getEl("#delete-deck-modal .modal-body h4").innerHTML = deck_name;
            getEl("#delete-deck-modal .modal-footer #deck_id").value = deck_id;

        });
        getEl("#add-card-overlay").addEventListener("show.bs.modal", (e) => {
            let deck_id = e.relatedTarget.dataset.deck_id;
            getEl("#add-card-deck-select").value = deck_id;
        });

        bind_listeners();

        getEl("#zoomed-image-modal").addEventListener("click", function() {
            getEl("#zoomed-image-modal").style.display = "none";
        });
    </script>
{% endblock script %}
