{% extends "base.html" %}
{% block content %}
    <h1>
        Hi, {{ current_user.username }}!
    </h1>
    <button type="button"
            class="btn btn-primary btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#create-deck-overlay">
        Create Deck
    </button>
    <hr />
    <table>
        {% for deck in decks %}
            <tr>
                <td>
                    {{ deck.name }}
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" data-deck_id={{ deck.id }} data-bs-toggle="modal" data-bs-target="#create-card-overlay">
                        Add Card
                    </button>
                </td>
                <td>
                    <button type="button"
                            class="btn btn-primary btn-sm"
                            onclick="get_cards('{{ url_for("main.get_cards") }}', {{ deck.id }})"
                            data-bs-toggle="modal"
                            data-bs-target="#study-deck-overlay">
                        Study
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% include "modals/_create_deck_modal.html" %}
    {% include "modals/_create_card_modal.html" %}
    {% include "modals/_study_deck_modal.html" %}
{% endblock content %}
{% block script %}
    <script>
        getEl("#create-card-overlay").addEventListener("show.bs.modal", (e) => {
            deck_id = e.relatedTarget.dataset.deck_id;
            getEl("#deck-select").value = deck_id;
        });
    </script>
{% endblock script %}
