{% extends "base.html" %}
{% set active_page = "Deck" %}
{% block header %}
    View Deck
{% endblock header %}
{% block content %}
    {% if deck_id %}
        <input type="hidden" id="view-deck-url" data-url="{{ url_for("deckview.view_deck") }}" />
        <div class="col">
            <select class="form-select" id="view-deck-card-select">
                {% for _, deck in decks.items() %}
                    <option value="{{ deck.id }}" {% if deck.id == deck_id %} selected{% endif %}>
                        {{ deck.name }}
                    </option>
                {% endfor %}
            </select>
            <div class="mt-2">
                {% if cards %}
                    {% for card in cards %}
                        <div class="card mt-3 border-0 view-deck-card" id="card-back-{{ card.id }}">
                            <div class="bg-white card-header d-flex p-0 overflow-hidden">
                                <p class="card-text flex-grow-1 text-start" aria-expanded="false">
                                    {{ card.front }}
                                </p>
                            </div>
                            <div class="card-body">
                                {% if card.image_path %}
                                    <img style="height: 120px; width: 120px" class="float-start me-3 card-image" src="{{ card.image_path }}" />
                                {% endif %}
                                <p class="card-text">
                                    {{ card.back }}
                                </p>
                            </div>
                            <div class="row mt-2 mb-3 me-3 ms-auto">
                                <button class="col-auto btn btn-light"
                                        type="button"
                                        data-bs-toggle="modal"
                                        data-card_id="{{ card.id }}"
                                        data-card_front="{{ card.front }}"
                                        data-card_back="{{ card.back }}"
                                        {% if card.image_path %}data-card_image_path="{{ card.image_path }}"{% endif %}
                                        data-bs-target="#update-card-overlay">
                                    <i class="bi bi-pencil"></i> Edit
                                </button>
                                <button class="col-auto btn btn-light ms-2"
                                        data-bs-toggle="modal"
                                        data-bs-target="#delete-card-modal"
                                        data-card_id="{{ card.id }}"
                                        data-card_front="{{ card.front }}">
                                    <i class="bi bi-trash"></i> Delete
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <!-- TODO make ui for the image consistent with website -->
                    <p>
                        Empty
                    </p>
                {% endif %}
            </div>
        </div>
        {% include "_partials/update_card_modal.html" %}
        {% include "_partials/delete_card_modal.html" %}
    {% else %}
        <p>
            Empty
        </p>
    {% endif %}
{% endblock content %}
{% block script %}
    {% if deck_id %}
        {% from "_macros/forms.html" import form_submit_listener %}
        {{ form_submit_listener("update-card-overlay") }}
        <script>
        getEl("#delete-card-modal").addEventListener("show.bs.modal", (e) => {
            let ds = e.relatedTarget.dataset;

            let card_id = ds.card_id;
            let card_front = ds.card_front;

            getEl("#delete-card-modal .modal-body h4").innerHTML = card_front;
            getEl("#delete-card-modal .modal-footer #card_id").value =  card_id;
            getEl("#delete-card-modal .modal-footer #deck_id").value = {{ deck_id }};

        });

        getEl("#update-card-overlay").addEventListener("show.bs.modal", (e) => {
            let ds = e.relatedTarget.dataset;

            let card_id = ds.card_id;
            let card_front = ds.card_front;
            let card_back = ds.card_back;


            getEl("#front").innerHTML = card_front;
            getEl("#back").innerHTML = card_back;
            getEl("#card_id").setAttribute("value", card_id);
            getEl("#deck_id").setAttribute("value", {{ deck_id }});

            if (ds.card_image_path) {
                show_uploaded_image(getEl("#uploaded-image-preview"), ds.card_image_path);
                getEl("#uploaded-image-preview").dataset.prev_image_path = ds.card_image_path;
            }
        });

        getEl("#update-card-overlay").addEventListener("shown.bs.modal", (e) => {
            $("textarea")
                .each(function() {
                    $(this).trigger("focus");
                });
        });

        bind_listeners();
        </script>
    {% endif %}
{% endblock script %}
