{% extends "base.html" %}
{% set active_page = "Deck" %}
{% block header %}
    View Deck
{% endblock header %}
{% block content %}
    <input type="hidden" id="view-deck-url" data-url="{{ url_for("main.view_deck") }}" />
    <div class="col">
        <select class="form-select" id="view-deck-card-select">
            {% for _, deck in decks.items() %}
                <option value="{{ deck.id }}" {% if deck.id == deck_id %} selected{% endif %}>
                    {{ deck.name }}
                </option>
            {% endfor %}
        </select>
        <div class="mt-2">
            {% for card in cards %}
                <div class="card mt-3 border-0 view-deck-card" id="card-back-{{ card.id }}">
                    <div class="bg-white card-header d-flex p-0 overflow-hidden">
                        <p class="card-text flex-grow-1 text-start" aria-expanded="false">
                            {{ card.front }}
                        </p>
                    </div>
                    <div class="card-body">
                        {% if card.image_path %}
                            <img style="height: 120px; width: 120px" class="float-start me-3 card-image" src="{{ card.image_path }}" />
                        {% endif %}
                        <p class="card-text">
                            {{ card.back }}
                        </p>
                    </div>
                    <div class="row mt-2 mb-3 me-3 ms-auto">
                        <button class="col-auto btn btn-light"
                                type="button"
                                data-bs-toggle="modal"
                                data-card_id="{{ card.id }}"
                                data-card_front="{{ card.front }}"
                                data-card_back="{{ card.back }}"
                                {% if card.image_path %}data-card_image_path="{{ card.image_path }}"{% endif %}
                                data-bs-target="#update-card-overlay">
                            <i class="bi bi-pencil"></i> Edit
                        </button>
                        <button class="col-auto btn btn-light ms-2"
                                data-bs-toggle="modal"
                                data-bs-target="#delete-card-modal"
                                data-card_id="{{ card.id }}"
                                data-card_front="{{ card.front }}">
                            <i class="bi bi-trash"></i> Delete
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% include "modals/_update_card_modal.html" %}
    <!-- TODO make macro of this modal -->
    <div class="modal" tabindex="-1" id="delete-card-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Delete Card
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <h4>
                        <i>select a card</i>
                    </h4>
                </div>
                <div class="modal-footer">
                    <form id="delete-card-form" action="{{ url_for("main.delete_card_route") }}" method="post">
                        {{ cd_form.hidden_tag() }}
                        {{ cd_form.deck_id(type="hidden") }}
                        {{ cd_form.card_id(type="hidden") }}
                        {{ cd_form.submit(class="btn btn-danger") }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block script %}
    <script>
        getEl("#delete-card-modal").addEventListener("show.bs.modal", (e) => {
            let ds = e.relatedTarget.dataset;

            let card_id = ds.card_id;
            let card_front = ds.card_front;

            getEl("#delete-card-modal .modal-body h4").innerHTML = card_front;
            getEl("#delete-card-modal .modal-footer #card_id").value =  card_id;
            getEl("#delete-card-modal .modal-footer #deck_id").value = {{ deck_id }};

        });

        getEl("#update-card-overlay").addEventListener("show.bs.modal", (e) => {
            let ds = e.relatedTarget.dataset;

            let card_id = ds.card_id;
            let card_front = ds.card_front;
            let card_back = ds.card_back;

            let opt = document.createElement("option");
            opt.value = {{ deck_id }};
            opt.innerHTML = "{{ decks[deck_id].name }}";

            getEl("#update-card-front").innerHTML = card_front;
            getEl("#update-card-back").innerHTML = card_back;
            getEl("#update-card-back").innerHTML = card_back;
            getEl("#card_id").setAttribute("value", card_id);

            if (ds.card_image_path) {
                show_uploaded_image(getEl("#uploaded-image-preview"), ds.card_image_path);
                getEl("#uploaded-image-preview").dataset.prev_image_path = ds.card_image_path;
            }

            getEl("#update-card-deck-select").appendChild(opt);
        });

        getEl("#update-card-overlay").addEventListener("shown.bs.modal", (e) => {
            $("textarea")
                .each(function() {
                    $(this).trigger("focus");
                });
        });

        getEl("#view-deck-card-select").addEventListener("change", function(e) {
            let url = getEl("#view-deck-url").dataset.url;
            go_to_url(url + "/" + this.value);
        });

        getEl("#upload-post-image").addEventListener("change", function() {
            change_preview_image(this);
        });
    </script>
{% endblock script %}
