{% from "_macros/forms.html" import render_form, render_field, field_errors, render_image_field_for_preview %}
{% call render_form(card_form) %}
    {{ render_field(card_form.deck_id, id="add-card-deck-select", class="form-control text-break") }}
    {{ render_field(card_form.front, required=True) }}
    <!-- TODO size of textarea is increased using js, make sure it gets reset after submitting -->
    {{ render_field(card_form.back, div_class="form-floating has-validation col-9 gx-1", class="form-control card-back", required=True) }}
    {{ render_image_field_for_preview(card_form.card_image, "add-card-back-image", "Add Image") }}
    {{ render_field(card_form.submit) }}
{% endcall %}
