{% from "_macros/forms.html" import render_form, render_field, render_image_field_for_preview %}
{% call render_form(card_form) %}
    {{ card_form.update_image(type="hidden") }}
    {{ card_form.card_id(type="hidden") }}
    {{ card_form.deck_id(type="hidden") }}
    {{ render_field(card_form.deck_name, readonly=True) }}
    {{ render_field(card_form.front, required=True) }}
    <!-- TODO size of textarea is increased using js, make sure it gets reset after submitting -->
    {{ render_field(card_form.back, div_class="form-floating has-validation col-9 gx-1", class="form-control card-back", required=True) }}
    {{ render_image_field_for_preview(card_form.card_image, "update-card-back-image", "Update Image") }}
    {{ render_field(card_form.submit, value="Update Card") }}
{% endcall %}
