<!-- Modal -->
<div class="modal fade"
     id="create-card-overlay"
     tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-2">
            <form id="create-card-form" method="post" enctype="multipart/form-data">
                {{ card_form.hidden_tag() }}
                <p>
                    {{ card_form.deck.label(class="form-label") }}
                    <br>
                    {{ card_form.deck(id="deck-select", class="form-control") }}
                    <br>
                    {{ card_form.front.label(class="form-label") }}
                    <br>
                    {{ card_form.front(class="form-control") }}
                    <br>
                    {{ card_form.back.label(class="form-label") }}
                    <br>
                    {{ card_form.back(class="form-control") }}
                    <br>
                    {% for error in card_form.front.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}
                </p>
                <p>
                    <button type="button"
                            class="btn btn-primary"
                            onclick="create_card('{{ url_for("main.card") }}')">Create Card</button>
                </p>
            </form>
        </div>
    </div>
</div>
