<!-- Modal -->
<div class="modal fade px-0"
     id="create-deck-overlay"
     tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Create Deck
                </h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for("main.create_deck_route") }}"
                      method="post">
                    {{ deck_form.hidden_tag() }}
                    <div class="form-floating">
                        {{ deck_form.deck_name(class="form-control", placeholder="Enter Deck Name", maxlength=64) }}
                        {{ deck_form.deck_name.label(class="form-label") }}
                        <br />
                        {% for error in deck_form.deck_name.errors %}
                            <span style="color: red">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-auto ms-auto">
                            {{ deck_form.submit(class="btn btn-primary") }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
