<!-- Modal -->
<div
    class="modal fade"
    id="study-deck-overlay"
    tabindex="-1"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered">
        <div id="study-deck-modal-content" class="modal-content p-2"></div>
    </div>
</div>
<input
    type="hidden"
    id="save-card-url"
    data-url="{{ url_for('main.save_card') }}"
/>

<template id="study-deck-template">
    <p id="card-front"></p>
    <p id="card-back"></p>
    <table id="show-ans-table">
        <tr>
            <td>
                <button id="show-ans-card" class="btn btn-sm btn-primary">
                    Show Answer
                </button>
            </td>
        </tr>
    </table>
    <table id="record-resp-table">
        <tr>
            <td>
                <button
                    id="again-card"
                    class="btn btn-sm btn-primary"
                    data-rating="1"
                >
                    Again
                </button>
            </td>
            <td>
                <button
                    id="hard-card"
                    class="btn btn-sm btn-primary"
                    data-rating="2"
                >
                    Hard
                </button>
            </td>
            <td>
                <button
                    id="good-card"
                    class="btn btn-sm btn-primary"
                    data-rating="3"
                >
                    Good
                </button>
            </td>
            <td>
                <button
                    id="easy-card"
                    class="btn btn-sm btn-primary"
                    data-rating="4"
                >
                    Easy
                </button>
            </td>
        </tr>
    </table>
</template>
