{% macro modal_hide_reload(id) %}
    <script type="text/javascript">
    document.getElementById("{{ id }}").addEventListener("hidden.bs.modal", () => {
        if (may_reload())
            location.reload();
    });
    </script>
{% endmacro %}
{% macro render_create_form_modal(modal_id, title, form_id, url) -%}
    <div class="modal fade px-0" id="{{ modal_id }}" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        {{ title }}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <form id="{{ form_id }}" action="{{ url }}" method="post" enctype="multipart/form-data">
                        {{ caller() }}
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{ modal_hide_reload(modal_id) }}
{%- endmacro %}
{% macro render_confirmation_form_modal(id, title, default_msg) -%}
    <div class="modal" tabindex="-1" id="{{ id }}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        {{ title }}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <h4>
                        <i>{{ default_msg }}</i>
                    </h4>
                </div>
                <div class="modal-footer">
                    {{ caller() }}
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}
{% macro render_delete_form_modal(id, title, default_msg) -%}
    <div class="modal" tabindex="-1" id="{{ id }}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        {{ title }}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <h4>
                        <i>{{ default_msg }}</i>
                    </h4>
                </div>
                <div class="modal-footer">
                    {{ caller() }}
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}
