{% macro is_active(endpoint) %}
    {%- if endpoint == request.endpoint -%}
        active
    {%- endif -%}
{% endmacro %}
{% macro navlink(endpoint, name, icon='') %}
    <li class="nav-item">
        <a href="{{ url_for(endpoint) }}"
           class="nav-link d-flex align-items-center gap-2 {{ is_active(endpoint) }}">
            <i class="bi {{ icon }}"></i> {{ name }}
        </a>
    </li>
{% endmacro %}
{% macro render_pagination(pagination, endpoint) %}
    <nav>
        <ul class="pagination pagination-sm">
            {% set disabled = true %}
            {% set href = "#" %}
            {% if pagination.has_prev %}
                {% set disabled = false %}
                {% set href = url_for(endpoint, page=pagination.prev_num) %}
            {% endif %}
            <li class="page-item {% if disabled %}disabled{% endif %}">
                <a class="page-link my-auto" href="{{ href }}" aria-label="Previous">
                    <span aria-hidden="true">
                        prev
                    </span>
                </a>
            </li>
            {% for page in pagination.iter_pages() %}
                {% if page %}
                    {% if page != pagination.page %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for(endpoint, page=page) }}"> {{ page }} </a>
                        </li>
                    {% else %}
                        <li class="page-item active" aria-current="page">
                            <span class="page-link"> {{ page }} </span>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="ellipsis">
                        …
                    </li>
                {% endif %}
            {% endfor %}
            {% set disabled = true %}
            {% set href = "#" %}
            {% if pagination.has_next %}
                {% set disabled = false %}
                {% set href = url_for(endpoint, page=pagination.next_num) %}
            {% endif %}
            <li class="page-item {% if disabled %}disabled{% endif %}">
                <a class="page-link my-auto" href="{{ href }}" aria-label="Next">
                    <span aria-hidden="true">
                        next
                    </span>
                </a>
            </li>
        </ul>
    </nav>
{% endmacro %}
