{% extends "base.html" %}
{% set active_page = "Register" %}
{% block header %}
    Register
{% endblock header %}
{% from "_macros/forms.html" import render_form, render_field, field_errors, render_image_field_for_preview %}
{% block content %}
    <div class="row">
        {% set div_class = "form-floating has-validation d-flex flex-column align-items-start gx-1" %}
        <form action="" method="post">
            {% call render_form(form) %}
                {{ render_field(form.username, div_class=div_class) }}
                {{ render_field(form.email, div_class=div_class) }}
                {{ render_field(form.password, div_class=div_class) }}
                {{ render_field(form.password2, div_class=div_class) }}
                {{ render_field(form.submit, align="left") }}
            {% endcall %}
        </form>
    </div>
{% endblock content %}
