{% from "_macros/modals.html" import modal_hide_reload %}
<!-- Modal -->
<div class="modal fade px-0"
     id="study-deck-overlay"
     tabindex="-1"
     data-bs-keyboard="false"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mx-auto">
                    Deck: <span id="study-deck-title"></span>
                </h5>
                <button type="button" class="btn-close border rounded m-0" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div id="study-deck-modal-content" class="modal-body bg-body-tertiary">
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="save-card-url" data-url="{{ url_for("home.update_card_info_route") }}" />
<div id="zoomed-image-modal" class="modal">
    <img src="" id="zoomed-image" class="mx-auto my-auto pt-5" />
</div>
{{ modal_hide_reload("study-deck-overlay") }}
{% macro rating_button(id, class_type, rating, text) %}
    <button id="{{ id }}" class="btn btn-outline-{{ class_type }} fw-bold" data-rating="{{ rating }}">
        {{ text }}
    </button>
{% endmacro %}
<!-- template for the modal -->
<template id="study-deck-template">
    <div class="d-flex rounded mx-2 mx-md-5 overflow-auto">
        <div id="show-fb-card" class="flex-fill">
            <div class="d-block">
                <span id="show-f-text" class="fw-bold fs-1 overflow-y-auto text-break"></span>
            </div>
            <div class="d-block">
                <div class="d-flex m-auto mt-2 flex-grow-1 justify-content-center">
                    <span id="show-answer-text" class="fw-bold text-center">
                        Show Answer
                    </span>
                </div>
            </div>
        </div>
        <div id="fb-card" class="d-flex flex-column w-100">
            <div class="d-block">
                <span id="card-front" class="fw-bold fs-5 overflow-y-auto text-break">
                </span>
            </div>
            <!-- TODO change id to something else -->
            <div class="d-flex overflow-y-auto flex-column flex-fill">
                <!-- <img id="card-back-image" class="d-none pb-4 mx-auto" src="" /> -->
                <img id="card-back-image" class="d-flex pb-4 mx-auto" src="" />
                <span id="card-back" class="fs-4 text-break" style="white-space:pre-line;"></span>
            </div>
            <div class="d-block p-0 pt-3 m-auto">
                {{ rating_button('again-card', 'danger', '1', 'Again') }}
                {{ rating_button('hard-card', 'warning', '2', 'Hard') }}
                {{ rating_button('good-card', 'primary', '3', 'Good') }}
                {{ rating_button('easy-card', 'success', '4', 'Easy') }}
            </div>
        </div>
    </div>
</template>
