<div class="col p-2 ps-3">
    <h3>
        {% block header %}
        {% endblock header %}
    </h3>
</div>
{% if current_user.is_anonymous %}
    <div class="col-auto p-4">
    </div>
{% else %}
    <div class="col-auto p-2">
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="profile-image" src="{{ current_user.avatar(16) }}" />
                {{ current_user.username }}
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ url_for("auth.logout") }}" class="dropdown-item">Logout</a>
                </li>
            </ul>
        </div>
    </div>
{% endif %}
